<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CIPCTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CIPCTerminal.Properties.Settings>
            <setting name="connect_local_Port" serializeAs="String">
                <value>12500</value>
            </setting>
            <setting name="connect_remote_Port" serializeAs="String">
                <value>12500</value>
            </setting>
            <setting name="connect_remote_IPadress" serializeAs="String">
                <value>192.168.0.1</value>
            </setting>
            <setting name="connect_mode_host" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="connect_mode_auto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CIPCServer_filepath" serializeAs="String">
                <value />
            </setting>
        </CIPCTerminal.Properties.Settings>
    </userSettings>
</configuration>