<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StreamController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <StreamController.Properties.Settings>
            <setting name="FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryName" serializeAs="String">
                <value />
            </setting>
            <setting name="remotePort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="myPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="remoteIP" serializeAs="String">
                <value />
            </setting>
            <setting name="fps" serializeAs="String">
                <value />
            </setting>
            <setting name="myName" serializeAs="String">
                <value />
            </setting>
        </StreamController.Properties.Settings>
    </userSettings>
</configuration>